[project]
	description = Test repo to check Travis CI for dogtag
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dinesh Prasanth M K (SilleBille)
[access "refs/for/refs/*"]
	read = group user/Dinesh Prasanth M K (SilleBille)
	push = group user/Dinesh Prasanth M K (SilleBille)
	label-Code-Review = -2..+2 group user/Dinesh Prasanth M K (SilleBille)
	label-Verified = -1..+1 group user/Dinesh Prasanth M K (SilleBille)
	rebase = group user/Dinesh Prasanth M K (SilleBille)
	removeReviewer = group user/Dinesh Prasanth M K (SilleBille)
	submit = group user/Dinesh Prasanth M K (SilleBille)
[access "refs/heads/*"]
	read = group user/Dinesh Prasanth M K (SilleBille)
	create = group user/Dinesh Prasanth M K (SilleBille)
	push = +force group user/Dinesh Prasanth M K (SilleBille)
	pushMerge = group user/Dinesh Prasanth M K (SilleBille)
[access "refs/tags/*"]
	push = group user/Dinesh Prasanth M K (SilleBille)
	push = +force group user/Dinesh Prasanth M K (SilleBille)
